*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*vai considerar sempre as dimensões que forem especificadas, caso contrário aumentaria 40 px*/
}

ul{
    list-style: none;
}

body{
    background-image: url(./assets/bg.jpg); /*recebe a imagem*/
    background-position: top center; /*posiciona o fundo: topo e centralizado*/
    background-size: 100% auto; /* fica 100% da largura que aumentar a tela*/
    background-repeat: no-repeat; /*não repetir o backgound*/
    background-color: #121214; 
}
body *{
    font-family: 'Inter',sans-serif;
    line-height: 160%;
}

header {
    padding-top: 32px;
    height: calc(120px + 32px);
}
header div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    
    border-radius: 50%;
    display: flex;
    padding: 4px;

    transition: transform .3s; /*tempo da transição*/
}
header div:hover{ /*transição ao passar o mouse*/
    transform: scale(1.1);

}
header div img{
    width: 100%;
    border-radius: 50%; 
}

main{
    max-width: 580px; /*todos os elementos vão manter esse tamanho*/
    width: 90%; /*relativo a largura da tela*/
    margin: 32px auto; /* calculo automatico para preencher as laterias*/
    
    display:grid;
    gap: 24px;
    margin-top: 32px;
}

section{
    color:  white;
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    border-radius: 10px;
}
section h2{
    letter-spacing: -0.47px;
}
section div{
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;


}
section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
}
section ul{
    display: flex;
    flex-wrap: wrap; /*se aumentar os itens, há um reajuste e joga pra baixo*/
    gap: 16px; /*só funciona com o display flex, espaço entre os items*/
    margin-top: 24px;
}
section ul li {
    transition: transform .3s;
}
section ul li:hover {
    transform:scale(1.1);

}

.games-list img{
    width: 90px;
    border-radius: 8px;
}
.channel-list img{
    border-radius: 50%;
    width: 70px;
    border: 1px solid #443E54;
}

/*animation*/
header div{
    animation: fromTop .7s .1s  backwards;/*nome, tempo que inicia, tempo do delay e  backwards aplica as propriedades -fromTop- previamente */
    
}

main section{
    animation: fromBottom .7s backwards;
}
main section:nth-child(1) { /*main pega o section do filho número 1*/

    animation-delay: 0;
}
main section:nth-child(2) { 
    animation-delay: .4s;
}
main section:nth-child(3) {
    animation-delay: .8s;
}
/*definição da animação(from: onde começa - to: onde termina)*/
@keyframes fromTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}